.master{
    width: 100%;
    height: 100%;
    position: fixed;
}
.container {
    width: 100%;
    height: 100%;    
}
.foreground {
    width: 100%;
    height: 100%;
    background-color:rgb(255, 255, 255);
    background-size: cover;
    clip-path: polygon(0% 100%, 100% 100%, 0% -60%);
    display: flex;    
}

#login {
    font-family: 'Source Sans Pro';
    font-size: 48px;
    font-weight: bold;
    position: relative;
}

#reg-text {
    font-family: 'Source Sans Pro';
    position: relative;
}

#reg-link {
    font-family: 'Source Sans Pro'; 
}

#form{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    position: relative;
}

#fields{
    display: flex;
    margin-top: 30px;    
    flex-direction: column;    
}

.btn-primary { 
    background-color: rgb(135, 47, 207);
    border-color: rgb(135, 47, 207);
}

#submit{
    width: 145px;   
    align-self: flex-end;
    border-radius: 22px;
}

#form{
    width: 30%;
}

#below {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#rememberme {
    margin-right: 5px;
}

#description{
    display: flex;
    position: absolute;
    flex-direction: column;
    right: 50px;
    top: 30px;
}

#caderneta{
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 70px;  
}
#eletronica{
    font-family: 'Source Sans Pro';    
    font-weight: bold;
    font-size: 70px;
}
#small-description{    
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 17px;
}