.master{
    width: 100%;
    height: 100%;
    position: fixed;
}
.foreground {
    width: 100%;
    height: 100%;
    background-color:rgb(255, 255, 255);
    background-size: cover;
    clip-path: polygon(0% 100%, 100% 100%, 0% -60%);
    display: flex;
}

.same-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#nome {
    margin-right: 10px;
}

#sobrenome {
    margin-left: 10px;
}

#form{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    position: relative;
    top: 100px;
    left: 120px;

}