body {
    background-image: url('./resources/BG.jpg');
    background-image: url('./resources//BG.jpg');
    background-position: 'center';
    background-size: 'cover';
    background-repeat: 'no-repeat';
}