.master{
    width: 100%;
    height: 100%;
    position: fixed;
}
.foreground {
    width: 100%;
    height: 100%;
    background-color:rgb(255, 255, 255);
    background-size: cover;
    clip-path: polygon(0% 100%, 100% 100%, 0% -60%);
    display: flex;
}

.same-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 14px;
  font-weight: 200;
  background-color: rgb(135, 47, 207);
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
  border-radius: 0px 25px 25px 0px;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 5.25); 
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 20px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
  /*    
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: rgb(135, 47, 207);;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #020203;
  border-bottom: 1px solid #020203;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #ffffff;
  background-color: #020203;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media only screen and (min-width: 768px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}

  .Principal {
    background-color: rgba(255,255,255,1);
    padding: 350px;
    margin-top: 50px;
    margin-left: 350px;
    margin-right: 50px;
    border-radius: 40px;
    /*box-shadow: 4px 4px 4px rgba(0, 0, 0, 5.25);*/
    -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.7);
    -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.7);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.7);
    
  }

  .Vector {
    text-decoration: none;
    position: fixed;
    width: 70.9%;
    height: 1px;
    left: 350px;
    top: 110px;
    border: 1px solid #000000;
    
  }

#deb-text-receber {
  position: absolute;
  width: 50px;
  height: 0px;
  left: 100px;
  bottom: 30px;

  font-family: MyriadPro;
  font-size: 17px;
  line-height: 0px;
  /* or 0% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

#deb-text-pagar {
  position: absolute;
  width: 50px;
  height: 0px;
  left: 200px;
  bottom: 30px;

  font-family: MyriadPro;
  font-size: 17px;
  line-height: 0px;
  /* or 0% */
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.Fundo {
  position: absolute;
  width: 870px;
  height: 540px;
  left: 50px;
  top: 40px;

  background: #E6E6E6;
  border-radius: 26px;
}

.Clientes {
  position: absolute;
  width: 770px;
  height: 52px;
  left: 50px;
  top: 20px;

  background: #FFFFFF;
  border-radius: 9px;
}

.modal-content {
  overflow: auto;
  font-family: verdana;
  font-size: 14px;
  font-weight: 200;
  background-color: rgb(255, 255, 255,1);
  position: fixed;
  left: 470px;
  top: 100px;
  width: 500px;
  height: 70%;
  color: #000;
  border-radius: 25px 25px 25px 25px; 
  box-shadow: 1px 2px 4px 4px rgba(0, 0, 0, 5.25);
}
